In [12]:
import pandas as pd

# Load the uploaded Excel file to check its structure
file_path = '../dataset/rab107row.xlsx'
data = pd.read_excel(file_path)

# Display the first few rows to understand the structure
data.head()

,namaproyek,rab,waktu,provinsi,tahun,luas,subitem,tinggi,lantai,ikk,ihbp,inflasi
0,Gedung Apartemen,2.641914e+10,196,Jawa Barat,2019,17401.00,4,21.8,6,103.03,143.72,3.21
1,Gedung Apartemen,8.821079e+10,273,DKI Jakarta,2022,16320.59,6,47.6,14,121.48,107.66,4.21
2,Gedung Apartemen,8.171200e+10,348,DKI Jakarta,2023,23688.00,5,34.0,10,116.73,113.88,2.28
3,Gedung Apartemen,3.690000e+11,830,Banten,2021,55000.00,6,49.8,16,97.64,109.64,1.91
4,Gedung Apartemen,5.400316e+11,700,DKI Jakarta,2023,150000.00,6,105.0,30,116.73,113.88,2.28

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import AdaBoostRegressor, GradientBoostingRegressor, RandomForestRegressor
from sklearn.linear_model import BayesianRidge, Lasso, LinearRegression, Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
import xgboost as xgb
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import numpy as np

In [14]:
# Label encoding kolom 'Provinsi' dan nama proyek karena nilainya kategorikal
label_encoder = LabelEncoder()
data['label_provinsi'] = label_encoder.fit_transform(data['provinsi'])
data['label_namaproyek'] = label_encoder.fit_transform(data['namaproyek'])

# Melihat nilai unik dari hasil encoding kolom 'provinsi_encoded'
provinsi_unik = data[['provinsi', 'label_provinsi']].drop_duplicates().sort_values(
    by='label_provinsi')

# Melihat nilai unik dari hasil encoding kolom 'namaproyek_encoded'
namaproyek_unik = data[['namaproyek', 'label_namaproyek']].drop_duplicates().sort_values(
    by='label_namaproyek')

In [15]:
provinsi_unik

               provinsi  label_provinsi
95                 Bali               0
3                Banten               1
1           DKI Jakarta               2
0            Jawa Barat               3
23          Jawa Tengah               4
59           Jawa Timur               5
66     Kalimantan Timur               6
55       Kepulauan Riau               7
90              Lampung               8
25  Nusa Tenggara Barat               9
41                Papua              10
70     Sulawesi Selatan              11

In [16]:
namaproyek_unik

              namaproyek  label_namaproyek
0       Gedung Apartemen                 0
35         Gedung Asrama                 1
43         Gedung Gudang                 2
45          Gedung Hotel                 3
49         Gedung Kampus                 4
55         Gedung Kantor                 5
76   Gedung Laboratorium                 6
80       Gedung Olahraga                 7
83         Gedung Pabrik                 8
84         Gedung Parkir                 9
88    Gedung Rumah Sakit                10
96    Gedung Rumah Susun                11
100       Gedung Sekolah                12
104      Gedung Showroom                13
105        Gedung Wisata                14

In [17]:
# Split data into features and target
X1 = data.drop(columns=['rab', 'namaproyek', 'provinsi'])
y1 = data['rab']

# Split into training and testing sets
X_train1, X_test1, y_train1, y_test1 = train_test_split(
    X1, y1, 
    test_size=0.3, 
    random_state=42)

# Split into training and testing sets
X_train2, X_test2, y_train2, y_test2 = train_test_split(
    X1, y1, 
    test_size=0.2, 
    random_state=42)

In [18]:
# Initialize models
models = {
    'AdaBoost': AdaBoostRegressor(),
    'Bayesian Ridge': BayesianRidge(),
    'Decision Tree': DecisionTreeRegressor(),
    'Gradient Boosting': GradientBoostingRegressor(),
    'KNN Regressor': KNeighborsRegressor(),
    'Lasso Regression': Lasso(),
    'Linear Regression': LinearRegression(),
    'Random Forest': RandomForestRegressor(),
    'Ridge Regression': Ridge(),
    'SVR': SVR(),
    'XGBoost': xgb.XGBRegressor()
}

# 70:30
# Train and evaluate each model with additional metrics
results1 = []
for name1, model1 in models.items():
    # Fit model to training data
    model1.fit(X_train1, y_train1)
    
    # Predict on training data
    y_train_pred1 = model1.predict(X_train1)
    
    # Predict on testing data
    y_pred1 = model1.predict(X_test1)
    
    # Calculate metrics for training data
    r2_train1 = r2_score(y_train1, y_train_pred1)
    
    # Calculate metrics for testing data
    mse1 = mean_squared_error(y_test1, y_pred1)
    mae1 = mean_absolute_error(y_test1, y_pred1)
    r21 = r2_score(y_test1, y_pred1)
    
    # Append results
    results1.append({
        'Model': name1,
        'Training R2 Score': r2_train1,
        'Testing RMSE': np.sqrt(mse1),
        'Testing MAE': mae1,
        'Testing R2 Score': r21
    })

# Convert results into a DataFrame for better visualization
results_df1 = pd.DataFrame(results1).sort_values(by='Testing R2 Score', ascending=False)

# 80:20
# Train and evaluate each model with additional metrics
results2 = []
for name2, model2 in models.items():
    # Fit model to training data
    model2.fit(X_train2, y_train2)
    
    # Predict on training data
    y_train_pred2 = model2.predict(X_train2)
    
    # Predict on testing data
    y_pred2 = model2.predict(X_test2)
    
    # Calculate metrics for training data
    r2_train2 = r2_score(y_train2, y_train_pred2)
    
    # Calculate metrics for testing data
    mse2 = mean_squared_error(y_test2, y_pred2)
    mae2 = mean_absolute_error(y_test2, y_pred2)
    r22 = r2_score(y_test2, y_pred2)
    
    # Append results
    results2.append({
        'Model': name2,
        'Training R2 Score': r2_train2,
        'Testing RMSE': np.sqrt(mse2),
        'Testing MAE': mae2,
        'Testing R2 Score': r22
    })

# Convert results into a DataFrame for better visualization
results_df2 = pd.DataFrame(results2).sort_values(by='Testing R2 Score', ascending=False)

Hasil 70:30

In [19]:
results_df1

,Model,Training R2 Score,Testing RMSE,Testing MAE,Testing R2 Score
0,AdaBoost,9.672525e-01,5.736128e+11,1.996555e+11,0.456319
2,Decision Tree,1.000000e+00,5.924432e+11,2.403469e+11,0.420037
3,Gradient Boosting,9.993060e-01,6.238841e+11,2.231881e+11,0.356847
7,Random Forest,8.932643e-01,6.337265e+11,1.961443e+11,0.336394
8,Ridge Regression,6.900052e-01,6.616821e+11,2.357048e+11,0.276555
5,Lasso Regression,6.900084e-01,6.618885e+11,2.358426e+11,0.276104
6,Linear Regression,6.900084e-01,6.618885e+11,2.358426e+11,0.276104
4,KNN Regressor,3.488220e-01,6.781555e+11,2.108000e+11,0.240085
1,Bayesian Ridge,7.120970e-13,7.825614e+11,2.626198e+11,-0.011914
9,SVR,-8.377046e-02,8.023121e+11,2.381101e+11,-0.063637
10,XGBoost,1.000000e+00,9.119485e+11,2.770259e+11,-0.374192

Hasil 80:20

In [20]:
results_df2

,Model,Training R2 Score,Testing RMSE,Testing MAE,Testing R2 Score
4,KNN Regressor,3.882603e-01,8.060858e+11,2.573474e+11,0.268514
8,Ridge Regression,6.200637e-01,8.340124e+11,2.700165e+11,0.216952
5,Lasso Regression,6.200664e-01,8.342314e+11,2.700908e+11,0.216541
6,Linear Regression,6.200664e-01,8.342314e+11,2.700908e+11,0.216541
7,Random Forest,8.977659e-01,8.626792e+11,2.639536e+11,0.162197
0,AdaBoost,9.504328e-01,9.043934e+11,2.869545e+11,0.079215
3,Gradient Boosting,9.983627e-01,9.385989e+11,2.982837e+11,0.008248
1,Bayesian Ridge,9.157120e-13,9.540874e+11,3.320020e+11,-0.024754
2,Decision Tree,1.000000e+00,9.649002e+11,3.551156e+11,-0.048113
9,SVR,-8.530357e-02,9.761482e+11,2.999610e+11,-0.072691
10,XGBoost,1.000000e+00,1.108928e+12,3.878806e+11,-0.384362